<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Provider" value="SqlServer" />
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=SBODemo;Integrated Security=True" />
    <add key="PollSeconds" value="30" />
    <add key="WatchdogSeconds" value="180" />
    <add key="LogDirectory" value="Logs" />
    <add key="WorkerId" value="%COMPUTERNAME%" />
    <add key="ReportRunnerCommand" value="" />
    <add key="PrintRunnerCommand" value="" />
    <add key="AddonBridgeCommand" value="" />
    <add key="ConnectSapDi" value="false" />
    <add key="SapServer" value="" />
    <add key="SapCompanyDb" value="" />
    <add key="SapUser" value="" />
    <add key="SapPassword" value="" />
    <add key="DbUser" value="" />
    <add key="DbPassword" value="" />
    <add key="DbServerType" value="" />
    <add key="SapLanguage" value="" />
  </appSettings>
</configuration>
